<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>firstservlet</servlet-name>
        <servlet-class>firstservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>secondservlet</servlet-name>
        <servlet-class>secondservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ifelseexp</servlet-name>
        <servlet-class>ifelseexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forexp</servlet-name>
        <servlet-class>forexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>arraysexp</servlet-name>
        <servlet-class>arraysexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>divexp</servlet-name>
        <servlet-class>divexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginwithget</servlet-name>
        <servlet-class>loginwithget</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginwithpost</servlet-name>
        <servlet-class>loginwithpost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>redirectexp</servlet-name>
        <servlet-class>redirectexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>multiplesearch</servlet-name>
        <servlet-class>multiplesearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getpostexp</servlet-name>
        <servlet-class>getpostexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxexp</servlet-name>
        <servlet-class>ajaxexp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxexplist</servlet-name>
        <servlet-class>ajaxexplist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxexpsignup</servlet-name>
        <servlet-class>ajaxexpsignup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ajaxexpview</servlet-name>
        <servlet-class>ajaxexpview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>generatejson</servlet-name>
        <servlet-class>generatejson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getuploadedfile</servlet-name>
        <servlet-class>getuploadedfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getuploadedfileandsavewithnewname</servlet-name>
        <servlet-class>getuploadedfileandsavewithnewname</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adduserwithfile</servlet-name>
        <servlet-class>adduserwithfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getallusers</servlet-name>
        <servlet-class>getallusers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchsingleuser</servlet-name>
        <servlet-class>fetchsingleuser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getemails</servlet-name>
        <servlet-class>getemails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loginwithajax</servlet-name>
        <servlet-class>loginwithajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupwithajax</servlet-name>
        <servlet-class>signupwithajax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addstudent</servlet-name>
        <servlet-class>addstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchstudents</servlet-name>
        <servlet-class>fetchstudents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletestudent</servlet-name>
        <servlet-class>deletestudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editstudent</servlet-name>
        <servlet-class>editstudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editphoto</servlet-name>
        <servlet-class>editphoto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session2</servlet-name>
        <servlet-class>session2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>session4</servlet-name>
        <servlet-class>session4</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>search</servlet-name>
        <servlet-class>search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>firstservlet</servlet-name>
        <url-pattern>/firstservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>secondservlet</servlet-name>
        <url-pattern>/secondservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ifelseexp</servlet-name>
        <url-pattern>/ifelseexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forexp</servlet-name>
        <url-pattern>/forexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>arraysexp</servlet-name>
        <url-pattern>/arraysexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>divexp</servlet-name>
        <url-pattern>/divexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginwithget</servlet-name>
        <url-pattern>/loginwithget</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginwithpost</servlet-name>
        <url-pattern>/loginwithpost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>redirectexp</servlet-name>
        <url-pattern>/redirectexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>multiplesearch</servlet-name>
        <url-pattern>/multiplesearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getpostexp</servlet-name>
        <url-pattern>/getpostexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxexp</servlet-name>
        <url-pattern>/ajaxexp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxexplist</servlet-name>
        <url-pattern>/ajaxexplist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxexpsignup</servlet-name>
        <url-pattern>/ajaxexpsignup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ajaxexpview</servlet-name>
        <url-pattern>/ajaxexpview</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>generatejson</servlet-name>
        <url-pattern>/generatejson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getuploadedfile</servlet-name>
        <url-pattern>/getuploadedfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getuploadedfileandsavewithnewname</servlet-name>
        <url-pattern>/getuploadedfileandsavewithnewname</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adduserwithfile</servlet-name>
        <url-pattern>/adduserwithfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getallusers</servlet-name>
        <url-pattern>/getallusers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchsingleuser</servlet-name>
        <url-pattern>/fetchsingleuser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getemails</servlet-name>
        <url-pattern>/getemails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loginwithajax</servlet-name>
        <url-pattern>/loginwithajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupwithajax</servlet-name>
        <url-pattern>/signupwithajax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addstudent</servlet-name>
        <url-pattern>/addstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchstudents</servlet-name>
        <url-pattern>/fetchstudents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletestudent</servlet-name>
        <url-pattern>/deletestudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editstudent</servlet-name>
        <url-pattern>/editstudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>editphoto</servlet-name>
        <url-pattern>/editphoto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session2</servlet-name>
        <url-pattern>/session2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>session4</servlet-name>
        <url-pattern>/session4</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>search</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
